<div class="newsletter-wrapper text-center" id="newsletter-wrapper">

    <form v-on:submit.prevent="onSubmit">
        <div class="card text-white bg-dark mb-3">
        <div class="card-footer">
            <div class="alert alert-success" role="alert" v-if="showSuccess">
                You are Subscribed to our Newsletter!
            </div>
            <h2>Subscribe to our newsletter</h2>
            <div class="form-group">
                <input type="email" class="" v-model="email" name="email" class="input" placeholder="e-mail address" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success ">Submit</button>
            </div>
        </div>
    </form>

</div>
</div>

<script>
    var newsletterapp = new Vue({
        el: '#newsletter-wrapper',
        data () {
            return {
                email: '',
                showSuccess: false
            }
        },
        methods: {
            onSubmit() {
                console.log('onSubmit')

                fetch('/api/add_subscriber/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({'email': this.email})
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data)

                        this.showSuccess = true
                        this.email = ''
                    })
                    .catch(function(error) {
                        this.showSuccess = false
                        console.log('Error:', error);
                    });
            }
        }
    })
</script>